<!DOCTYPE html>
<html>
  <head>
    <title>Stellar</title>
    <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Sarabun:100,400|Noto+Serif+SC:500" rel="stylesheet">

    <%= favicon_link_tag '/favicon.ico' %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application'%>
    <% if current_user %>
      <script>
        window.currentUser = {
          'id': <%= current_user.id %>,
          'email': '<%= current_user.email %>',
          'username': '<%= current_user.username %>',
          'modernColors': <%= current_user.modern_colors %>,
          'follow_ids': <%= current_user.followees.map(&:id) %>,
          'admin': <%= current_user.admin %>, 
          'profile_pic': "<%= url_for(current_user.profile_pic) if current_user.profile_pic.attached? %>"
        };
      </script>
    <% end %>

    <% img1 = image_url("stars-bg-3.png") %>
    <% img2 = image_url("stars-bg-4.png") %>
    <% splash_post1 = image_url("splash-post-1.png") %>
    <% splash_post2 = image_url("splash-post-2.png") %>
    <% splash_post3 = image_url("splash-post-3.png") %>
    <% splash_post4 = image_url("splash-post-4.png") %>
    <% splash_post5 = image_url("splash-post-5.png") %>
    <% splash_post6 = image_url("splash-post-6.png") %>
    <script>
      window.splashPost1 = "<%= splash_post1 %>"
      window.splashPost2 = "<%= splash_post2 %>"
      window.splashPost3 = "<%= splash_post3 %>"
      window.splashPost4 = "<%= splash_post4 %>"
      window.splashPost5 = "<%= splash_post5 %>"
      window.splashPost6 = "<%= splash_post6 %>"
      window.splashUrl1 = "<%= img1 %>";
      window.splashUrl2 = "<%= img2 %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
